
<!-- Material form login -->
<div class="card mt-4 ">
  <div class="container">
    <form (submit)="onEditLabReservation()">
      <hr>
    <h4 class="indigo lighten-5">EDIT LAB RESERVATION </h4>
    <hr> 
  
      <mat-form-field>
          <mat-select placeholder="Please select the lab you want to reserve" [(ngModel)]="labname" name="labname">
            <mat-option *ngFor="let x of lablist" value="{{x.labname}}"> {{x.labname}} </mat-option>
          </mat-select>
      </mat-form-field>
      <hr>
        <h6 class="grey lighten-1">SELECT THE DATE:</h6>
     <hr> 
     <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="reserveddate" name="reserveddate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker> </mat-datepicker>
    </mat-form-field>
      <hr>
       <h6 class="grey lighten-1">SELECT THE TIME SLOT:</h6>
      <hr> 
      <mat-form-field>
        <input type="time" matInput placeholder="From" [(ngModel)]="from" name="form">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input type="time" matInput placeholder="To" [(ngModel)]="to" name="to">
      </mat-form-field>
      <div class="text-center mt-4">
          <button class="btn btn-outline-secondary" type="submit">EDIT RESERVATION <i class="fa fa-paper-plane-o ml-2"></i></button>
      </div>
    
     
      </form>
      
  </div>
  </div>
  
  
  
         
  <!-- Material form login -->
                        
  
  